<!DOCTYPE html>
<html>
<head>
  <title>Oauth2Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="api">
  <div id="page">
    <div id="page_contents">
      <div class="col span_3_of_4">
        <div class="card">
          <%= flash[:notice] %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
